.list-item h3{
    margin-left: 5px;
    margin-top: 5px;
    font-weight: 700px;
}
.chose-btn{
    background-color: aquamarine;
}
.chose-btn:hover{
    background-color: orange;
}
.clear-btn{
    background-color: cadetblue;
    width: 30px;
    margin-top: 5px;

}
.clear-btn:hover{
    background-color: cornflowerblue;
}