.book-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    

}
.show-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    margin: 100px 50px;
}
.order-container{
    background-color: rgb(233, 222, 222);
    margin-top: 50px;
    height: 500px;
    position: sticky;
    top: 0;
}
.order-container h3{
    margin-left: 10px;
    margin-top: 20px;
    /* color: white; */
}
 .order-container button{
     background-color: aqua;
     border-radius: 5px;
     width: 100px;
     margin-left: 20px;
 }
 .order-container button:hover{
     background-color: orangered;
 }
 .ans-qsn b{
     margin-left: 20px;
 }

@media screen and (max-width:688px) {
    .show-container{
        grid-template-columns: repeat(1,1fr);
    }
    
}